*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.menu{
    background-color: rgb(165, 134, 145);
    display: flex;
    justify-content: end;
    padding: 15px 75px 13px;
    height: 90px;
}

ul {
    
    list-style: none;
}

.conteudo{
    background-color: rgb(158, 106, 158);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 112px;
}

footer{
    text-align: center;
    background-color: rgb(165, 134, 145);
    top: 0px;
}

.conteudo-sobre{
    background-color: rgb(158, 106, 158);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 112px;
}

.conteudo-projetos{
    background-color: rgb(158, 106, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 112px;
}

.formulario{
    background-color: rgb(158, 106, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 112px;
}

.mensagem{
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
}

.text-duvidas{
    margin-top: 100px;
    margin-bottom: auto;
}

.social-media{
    margin-top: 5rem;
    display: flex;
}

.social-media a{
    font-weight : bold;
    text-decoration: none;
    color: #27273f;
    padding: 1rem 4rem;
    border: 2px solid #27273f;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 300px;
}

.input_mensagem{
    height: 100px;
}

button{
    width: 70px;
    height: 35px;
    border-radius: 25px ;
}