
<<<<<<< HEAD
header{
    height: 10vh;
    font-size: 4vh;
    border-bottom: 3px solid rgb(2, 2, 2);
    text-align: end;
    position:sticky;
    background-color:rgb(245, 60, 60);
    width:100%;

}

<<<<<<< HEAD
.header{
    height: 10vh;
    font-size: 4vh;
    border-bottom: 3px solid rgb(2, 2, 2);
    text-align: end;
    position:sticky;
    background-color:rgb(245, 60, 60);
    width:100%;
}


=======
>>>>>>> cea77818f69e7ec22bc4c284a7795f581dbf770f
header p{
    text-align: center;
    position: relative;
}

.pesquisa{
    position: absolute;
    right: 5%;
}

.filmes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px  rgb(255, 255, 255);
    box-shadow: 4px 4px 5px  rgb(2, 2, 2);
    text-align: center;
}

main{
    background-color: black;
    color: rgb(235, 12, 12);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 100px;
    column-gap: 50px;
}

<<<<<<< HEAD
=======
.titulo-filme{
    text-align: center;
}

>>>>>>> cea77818f69e7ec22bc4c284a7795f581dbf770f
.filme{
    text-align: center;
    border: 2px solid black;
    padding-bottom: 25px;

}

<<<<<<< HEAD
.filme2{
    text-align: center;
    border: 2px solid black;
    padding-bottom: 25px;
}

.filme3{
    text-align: center;
    border: 2px solid black;
    padding-bottom: 25px;

}

=======
>>>>>>> cea77818f69e7ec22bc4c284a7795f581dbf770f
footer{
    background-color:rgb(245, 60, 60);
    width:100%;
    position:fixed;
    height: 7vh;
    bottom: 0;
    text-align: center;
    border-top: 3px solid rgb(2, 2, 2);
}

<<<<<<< HEAD
=======
@media screen and (max-device-width: 750px){
    header, main, footer{
        display: block;
    }

    .filme {
        max-width: 800px;
        margin: 0 auto;
     }

    .filme video {
        width: 100%;
     }
}
>>>>>>> cea77818f69e7ec22bc4c284a7795f581dbf770f
=======
>>>>>>> eb6bd8890e456abd601cf653d42183ad543dff41
